body {
	background-color: rgb(245,245,241);
	margin: 0;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	 -o-transition: all 1s ease-in-out;
	 transition: all 1s ease-in-out;
	 font:  16px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#modeSelect{
position: relative;
height: 60px;
background: #c60d00; /* Old browsers */
background: -moz-linear-gradient(top, #c60d00 0%, #b10000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c60d00), color-stop(100%,#b10000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c60d00 0%,#b10000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c60d00 0%,#b10000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c60d00 0%,#b10000 100%); /* IE10+ */
background: linear-gradient(to bottom, #c60d00 0%,#b10000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c60d00', endColorstr='#b10000',GradientType=0 ); /* IE6-9 */
-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.79);
-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.79);
box-shadow: 0 0 5px rgba(0, 0, 0, 0.79);
	
}
#Option{
	position: relative;
	width: 31.1%;
	height: 40;
	background-color: white;
	float: left;
		margin-left: 1.7%;
		margin-top: 10px;
		margin-bottom: 10px;
		background-color: white;
		-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.29);
		box-shadow: 0 2px 1px rgba(0, 0, 0, 0.29);
		opacity: 1;
}

#optionText{
padding-left: 6;
padding-right: 0;
margin-top: 10px;

float:left;
}


#optionPic{
height: 30px;
	width: 30px;

float:left;
	padding-top: 5px;
	padding-left: 5px;

}



#header{
	top: 0px;
	width: 100%;
	
	position: relative;
	height: 60px;
	background: #c60d00; /* Old browsers */
	background: -moz-linear-gradient(top, #c60d00 0%, #b10000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c60d00), color-stop(100%,#b10000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c60d00 0%,#b10000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c60d00 0%,#b10000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c60d00 0%,#b10000 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c60d00 0%,#b10000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c60d00', endColorstr='#b10000',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.79);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.79);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.79);
	float: none;
}

#Logo{
	position: static;
	height: 50px;
	margin-top: 5px;
	margin-left:10px;
}

#searchBox{
height: 40px;
width: 100%;
			background-color: rgb(245,245,241);
	font: bold 20px "Lucida Grande", Lucida, Verdana, sans-serif;
	text-indent: 10px;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border: 0px solid #000000;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
}

#search{
position: absolute;
	/*	margin-top: 10px;
	margin-right: 10px;
	margin-left: 100px;*/
	
	top: 10;
	left: 100;
	right: 10px;

	

}


.block{
position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 0px;
	background-color: white;
	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.29);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.29);
	opacity: 1;
}

#map{
	position: relative;
	width: 100%;
	height: 200px;
}

#locationButton{
	background-image: url(location.png);
	background-size: 100%;
	position: absolute;
	top: 20px;
	right: 25px;
	width: 20px;
	height: 20px;
	z-index:10;
	opacity: .4;
}

#ratingContainer{
	padding: 5;
}

#arrow{
	height:30px;
	width: 20px;
	background-image: url(arrow.png);
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
	right: 10px;
	top: 50%;
	margin-top:-15px;
	position: absolute;
	opacity: .4;
}

#entryText{
	font: bold 18px "Lucida Grande", Lucida, Verdana, sans-serif;
}
